header {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(black, #22103C);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    font-weight: 200;
    color: #94FCD2;
    

}

main {
    width: 100%;
    height: 5000px;
    background-image: url('images/background-stars.pg');
    background-size: contain;
}

.intro {
    background-color: white;
    height: 500px;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}
.intro .introHeader {
    background-color: wheat;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.intro .introHeader .aboutMe {
    height: 50px;
    flex-basis: auto;
}

.intro .introHeader .externalLinks {
    background-color: rosybrown;
    height: 50px;
    flex-basis: 50em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.intro .introMain {
    background-color: thistle;
    height: 450px;
    display: flex;
}

.intro .introMain .selfText {
    flex-basis: 50%;
    height: fit-content;
}
.intro .introMain .carousel {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introMain .carousel .mySlides {
 
    height: 80%;
    
    justify-content: center;
    width: 100%;
}

.introMain .carousel .mySlides img {
    height: 100%;
}



footer {
    width: 100%;
    height: 150px;
    background-color: lightskyblue;
}