header {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(black, #22103C);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    font-weight: 200;
    color: #94FCD2;
    

}

main {
    width: 100%;
    height: 5000px;
    background-image: url('images/background-stars.pg');
    background-size: contain;
}

.intro {
    background-color: white;
    height: 500px;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}
.intro .intro-header {
    background-color: wheat;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.intro .intro-header .about-me {
    height: 50px;
    flex-basis: auto;
}

.intro .intro-header .external-links {
    background-color: rosybrown;
    height: 50px;
    flex-basis: 50em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.intro .intro-main {
    background-color: thistle;
    height: 450px;
    display: flex;
    align-items: center;
}

.intro .intro-main .self-text {
    flex-basis: 50%;
    height: fit-content;
}
.intro .intro-main .carousel-area {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .intro-main .carousel-area .carousel-container{
    height: 360px;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
}

.intro-main .carousel-area .carousel-container .my-slides {
    height: 100%;
    width: 540px;
    display: flex;
}

.intro-main .carousel-area .carousel-container .my-slides img {
    height: 100%;
    max-width: 100%;
    
}

#img2 {
    padding: 0 9.97px;
    box-sizing: border-box;
}

#img3 {
    padding: 0 90px;
}



footer {
    width: 100%;
    height: 150px;
    background-color: lightskyblue;
}